.form {
  width: 500px;
  margin: 0 auto;
}

.form-heading {
  text-align: center;
  margin: 2% 0 2% 0;
}

.product-List {
  text-align: center;
  width: 500px;
  margin: 5% auto 0 auto;
}

@media (max-width: 500px) {
  .form,
  .product-List {
    width: 90%;
  }

  .form-heading {
    margin: 5% 0 5% 0;
  }

  .product-List {
    margin: 10% auto 0 auto;
  }
}
